.console-panel-container {
    bottom: 0;
    position: fixed;
    border: 1px solid #696969;
    width: 100%;
    height: 200px;
}

.console-panel-container .console-body {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: scroll;
}

.console-panel-container .console-header {
    height: 32px;
    width: 100%;
    border-bottom: 1px solid #696969;
    background-color: #e7e7e7;
}


.console-panel-container .console-header .console-action-btn {
    float: right;
    margin-right: 6px;
    padding-top: 3px;
    margin-bottom: 0px;
}

.console-panel-container .console-header .console-action-btn li {
    list-style: none;
    display: inline;
    padding: 3px;
}

.console-panel-container .console-header .console-action-btn a {
    background-color: #cb5656;
    border-radius: 2px;
    color: white;
    height: 17px;
    padding: 1px 3px;
    text-align: center;
    width: 17px;
}

.console-panel-container #log-container {
    margin: 0px;
    padding: 0px;
}

.console-panel-container #log-container li {
    list-style: none;
}

.console-panel-container .left-action-button {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 2px;
}

.console-panel-container .left-action-button li {
    list-style: none;
}

.console-panel-container .left-action-button li a {
    background-color: #cb5656;
    border-radius: 2px;
    color: white;
    display: inline-block;
    height: auto;
    padding: 0 5px;
    text-align: center;
    width: auto;
}

.console-panel-container #log-container .info-error {
    background-color: #D9EDF7;
}

.console-panel-container #log-container .warn-error {
    background-color: #FCF8E3;
}

.console-panel-container #log-container .error-error {
    background-color: #F2DEDE;
}

.console-panel-container #log-container .xhr-log {
    background-color: #E5E5E5;
}

.console-panel-container.minimized-console {
    height: auto;
}

.console-panel-container .console-header .resize-handle {
    background-color: #a4a4a4;
    height: 3px;
    width: 100%;
     cursor:n-resize;
}

.console-panel-container.minimized-console .console-header {
    bottom: 0;
    position: absolute;
}